<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Startled Markets</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="../static/stylesheets/startled.css" rel="stylesheet" media="screen">
	<link href="../static/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<link href="../static/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="../static/stylesheets/flat-ui.css" rel="stylesheet" media="screen">

	<script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<link href="../static/stylesheets/cover.css" rel="stylesheet" media="screen">
    
  </head>
  <body role="document">

  	<div class="site-wrapper">
	    {% block content %}
	    {% endblock %}
	</div>
  </body>
</html>
